

@media only screen and(max-width: 768px){

$duration : 0.5s;
$menu-icon-bg: #fec503;
$menu-icon-color: #FFF;

.menu-icon-cross{

	transition : transform $duration;

	span::before,span::after{
		transform-origin:50% 50%;
	}
	span{
		z-index: 2;
		transition:background 0.5s, transform $duration;
	}
	svg{
		position: relative;
		z-index: 1;
		fill: $menu-icon-bg ;
		stroke-width: 1px;
		stroke: $menu-icon-color;
		stroke-dasharray : 165;
		stroke-dashoffset:165;
		transition : stroke-dashoffset $duration, transform $duration;
	}

	&.is-opened{
		transform:rotate(180deg);
		span{
			background: transparent;
		}
		span::before{
			transform:translateY(0) rotate(45deg);
		}
		span::after{
			transform:translateY(0) rotate(-45deg);
		}
		svg{
			transform:rotate(-180deg);
			stroke-dashoffset:0;
		}
	}
}
}